body{
  margin: 0;
  padding: 0;
  background: url("../img/banke.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: sans-serif;
}
.title{
  font-size: 55px;
  color: #ffffff;
  text-shadow: 2px 2px 5px red;
}
.loginbox{
  width: 320px;
  height: 420px;
  background:#000000;
  color: #ffffff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 5px;
}
.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
h1{
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
  font-size: 22px;
}
.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.loginbox input{
  width: 100%;
  margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]{
  border: none;
  border-bottom: 1px solid #ffffff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #ffffff;
  font-size: 16px;
}
input[type="button"]{
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: #ffffff;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;

}
/* input[type="button"]:hover{
  cursor: pointer;
  background: #947c7c;
  color: #000000;
} */
.loginbox a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgray;
}
.loginbox a:hover{
  color: #fb2525;
}
